
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: left;}
        div{text-align: left;}
    </style>
</head>
<body style="background-color:#FFFFE0;">
         <h1>Niranjana Subramanian</h1> 
            <h1>1002046305</h1> 
            <br>
        <div>   
            <a href="/">Home</a>
        </div>    
		<br> <br>
    <div>    
		<form method='POST' action="/namesearch">
			Enter the name:<input type="text" name="name">
			<input type="submit" >
		</form>
    </div> 
</body>
</html>